<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}Catálogo de Jogos{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header class="topo">
      <h1>Catálogo de Jogos</h1>
      <nav>
        <a href="/jogos">Início</a>
        <a href="/jogos/novo">+ Novo jogo</a>
      </nav>
    </header>
    <main class="container">
      {% block conteudo %}{% endblock %}
      <!-- as outras páginas entram aqui -->
    </main>
  </body>
</html>
