{% extends "base.html" %} {% block conteudo %}
<form
  class="formulario"
  method="post"
  action="{% if jogo %}/jogos/{{ jogo.id }}/editar{% else %}/jogos{% endif %}"
>
  <label>
    Título
    <input
      type="text"
      name="titulo"
      value="{{ jogo.titulo if jogo else '' }}"
      required
    />
  </label>

  <label>
    Produtor
    <input
      type="text"
      name="produtor"
      value="{{ jogo.produtor if jogo else '' }}"
      required
    />
  </label>

  <label>
    Ano
    <input
      type="number"
      name="ano"
      value="{{ jogo.ano if jogo else '' }}"
      required
    />
  </label>

  <label>
    Gênero
    <select name="genero_id" required>
        {% for g in generos %}
        <option
            value="{{ g.id }}"
            {% if jogo and jogo.genero_id == g.id %}selected{% endif %}
        >
            {{ g.nome }}
        </option>
        {% endfor %}
    </select>
</label>

  <label>
    Nota (0 - 10)
    <input
      type="number"
      step="0.1"
      min="0"
      max="10"
      name="nota"
      value="{{ jogo.nota if jogo else 0 }}"
    />
  </label>

  <label class="checkbox">
    <input
      type="checkbox"
      name="jogado"
      {%
      if
      jogo
      and
      jogo.jogado
      %}checked{%
      endif
      %}
    />
    Jogado
  </label>

  <button class="btn" type="submit">Salvar</button>
</form>
{% endblock %}
